<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.car.manage.dao.CargolistDao">

    <resultMap type="com.car.manage.entity.Cargolist" id="CargolistMap">
        <result property="cargoid" column="cargoId" jdbcType="INTEGER"/>
        <result property="cargoname" column="cargoName" jdbcType="VARCHAR"/>
    </resultMap>

</mapper>